@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Tailwind v4 automatically maps these if you follow the naming convention */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}